################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Duinos.MetroDom/bin/Debug
/Duinos.MetroDom/obj/Debug
/MetroDom/bin/Debug
/MetroDom/obj/Debug
